body .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

body .content-form {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

body .container .content-form .item-form-container {
    padding-bottom: 10px;
    font-size: 14px;
}

body .container .content-form .item-form-container button {
    width: 85%;
}

